.dock-desktop {sinotic-desktop
	background: url("../images/simple.jpeg") no-repeat scroll #FCFCFC	!important;
	background-image: url("../images/simple.jpeg") !important;	
}

.dock-container {
	height: 50px;
	background: url(../images/dock-bg.png);
	overflow: visible;
	-webkit-border-radius: 100px 100px 0px  0px;
	-moz-border-radius: 20px 20px 0px  0px;
	border-radius: 100px 100px 0px  0px;
/* 	-webkit-box-shadow: 0px 0px 15px #888888; */
	
/* 	box-shadow: 0px 0px 25px #888888; */
}

.top-dock-item {
	top: 10px !important;
	left: 0;
	position: absolute !important;

}

.bottom-dock-item {
	bottom: 0px !important;
	left: 0;
	position: absolute !important;
}

.dock-item {
	top: 10px !important;
	left: 0;
	position: absolute !important;
}

.item-text { /* 	background-color: blue; */
	width: inherit;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

#dock {
	width: 100%;
	bottom: 0px;
	position: absolute;
}

/*bottom*/
/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}

.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg.png);
	padding-left: 20px;
}

a.dock-item2 {
	display: block;
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px;
	color: #000;
	bottom: 0px;
	position: absolute;
	text-align: center;
	text-decoration: none;
}

.dock-item2 span {
	display: none;
	padding-left: 20px;
}

.dock-item2 img {
	border: none;
	margin: 5px 10px 0px;
	width: 100%;
}

.vehicle_window { /* 	width: 200px !important; */
	background-color: #f3f7f8 !important;
	border-color: #a2bcec !important;
	border-style: solid;
	border-width: 1px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 25px #888888;
	box-shadow: 0px 0px 25px #888888;
	/*    color: #FFFFFF;*/
	font-size: 10pt;
	font-weight: bold;
	height: auto;
	padding: 4px;
}